doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Inventory API
    div(class='center-horizontal')
      a(href='./view-product') View Products
      a(href='./view-warehouse') View Warehouses
      a(href='./view-transactions') View Transactions
      a(href='./edit') Edit

    block content
