body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

a {
  color: #00B7FF;
  padding: 3rem;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
  margin: 1rem;
}

tbody th {
  border: 2px solid black;
  font-weight: bold;
}

td {
  border: 2px solid black;
}